## O Operador *In*

Vamos imaginar que temos uma função em que verificamos se uma string está em outra. Por exemplo, "a" está na palavra banana? "seed" está na palavra banana?

In [1]:
# pra isso podemos fazer
'a' in 'banana'

True

In [2]:
'seed' in 'banana'

False

In [4]:
# Uma funcao que imprime 
def nas_duas(palavra1, palavra2):
    for letra in palavra1:
        if letra in palavra2:
            print(letra)

In [5]:
nas_duas("pedro", "jose")

e
o

## Uma lista é uma sequência

Como Strings, uma lista é uma sequência de valores. Em uma String, os valores são caracteres, em uma lista, eles podem ser qualquer tipo. Os valores em uma lista são chamados **elementos** ou algumas vezes, **itens**. 

Existem diversas maneiras de  criar uma lista, por exemplo:

```
queijos = ['Cheddar', 'Edam', 'Gouda', 'Minas']
numeros = [17, 23]
vazia = []
```

In [8]:
 queijos = ['Cheddar', 'Edam', 'Gouda', 'Minas']

In [9]:
for queijo in queijos:
    print(queijo)

Cheddar
Edam
Gouda
Minas

In [10]:
numeros = [1, 3, 423, 21, 2354, 12]

In [11]:
for i in range(len(numeros)):
    numeros[i] = numeros[i] * 2
    print(numeros[i])

2
6
846
42
4708
24